/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e42323;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-right: 20px;
}

#result {
    font-size: 2em;
}