/* styles.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: background-color 0.5s ease;
}

header {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(
        to right,
        orange,
        lightcoral,
        rgb(122, 107, 255),
        rebeccapurple,
        lightblue,
        lightgreen
    );
    position: fixed;
    top: 0;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dark-mode-toggle {
    position: absolute;
    right: 110px;
    width: 50px;
    height: 25px;
    background-color: #d67ca0;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: background-color 0.5s ease;
}

body.dark-mode {
    background-color: #333;
}

.dark-mode-toggle.active {
    background-color: #695a23;
}

.dark-mode-toggle .sun,
.dark-mode-toggle .moon {
    transition: opacity 0.5s ease;
}

.dark-mode-toggle.active .sun {
    opacity: 1;
}

.dark-mode-toggle:not(.active) .moon {
    opacity: 1;
}

.dark-mode-toggle.active .moon,
.dark-mode-toggle:not(.active) .sun {
    opacity: 0;
}

.rules-button {
    position: absolute;
    right: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 2px black;
}

.rules-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.zh {
    color: lightblue;
}

.ld {
    color: orange;
    font-style: italic;
    text-decoration: underline;
}

.oneDie {
    color: red;
}

.rules {
    font-size: 25px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    width: 450px;
    height: 500px;
    background-color: rgba(255, 255, 255);
    justify-content: center;
    text-shadow: none;
}

.keys {
    display: inline-block;
    font-size: medium;
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #b4b4b4;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    text-align: center;
}

#options-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(204, 188, 225);
    border: solid 2px black;
    border-radius: 20px;
    font-size: 20px;
}

#info-and-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
}


#info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
    background-color: rgb(90, 189, 235);
    border: solid 2px black;
    padding: 10px;
    width: 400px;
    height: 200px;
    overflow: auto;
    scroll-timeline: auto;
    font-size: 20px;
    text-align: center;
}

@media screen and (orientation: landscape) {
    #info-and-player-container {
        flex-direction: row;
    }
    #info-section {
        width: 500px;
        height: 330px;
    }
}

#human-player-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

#player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#npc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.player-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    background-color: rgb(122, 107, 255);
    border: solid 2px black;
    border-radius: 100px;
    padding: 20px;
    font-size: 25px;
}

.player-label {
    color: white;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.player-section .img-container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-container .player-section {
    background-color: lightcoral;
}

#player-container .player-section .dice-container {
    width: 270px;
    height: 44px;
}

#player-container .player-section .dice-container img {
    height: 40px;
    width: 40px;
}

.player-claim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    gap: 10px;
    transition: all 0.5s;
}

.player-claim img {
    width: 50px;
    height: 50px;
}

.player-activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    gap: 20px;
    min-width: 200px;
    min-height: 70px;
    border: solid 2px rebeccapurple;
    border-radius: 10px;
    transition: all 0.5s;
}

.player-status {
    font-size: 40px;
}

.player-activity[status="waiting"] {
    background-color: lightgray;
}
.player-activity[status="thinking"] {
    background-color: lightgreen;
}
.player-activity[status="claim"] {
    background-color: lightblue;
}
.player-activity[status="claim"] .player-claim {
    opacity: 1;
}
.player-activity[status="doubt"] {
    background-color: orange;
}
.player-activity[status="dead"] {
    background-color: black;
}
.player-activity[status="oops"] {
    background-color: rgb(117, 33, 33);
}
.player-activity[status="heh"] {
    background-color: rgb(102, 25, 143);
}
.player-activity[status="winner"] {
    background-image: linear-gradient(
        to right,
        orange,
        lightcoral,
        rgb(122, 107, 255),
        rebeccapurple,
        lightblue,
        lightgreen
        );
}
.player-activity[status="winner"] .player-claim {
    display: none;
}
.player-activity[status="dead"] img {
    display: none;
}
.player-activity:not([status="claim"]) .player-claim {
    opacity: 0;
}

.lives-container {
    min-height: 30px;
    display: flex;
    align-items: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#player-turn-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#player-turn-section[active="false"], #player-turn-section[active="false"] * {
    background-color: lightgray;
    opacity: 0.75;
    transition: all 0.5s;
}

#player-turn-section[active="true"], #player-turn-section[active="true"] * {
    transition: all 0.5s;
}

#player-turn-section[active="false"] img {
    outline: none;
}

#player-turn-section[active="false"] #claim-slider-label {
    visibility: hidden;
}

.dice-container {
    display: flex;
    height: 40px;
    justify-content: center;
}

.dice-container img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.npc-container .player-die-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    gap: 10px;
}

.npc-container[revealed="true"] .player-die-img-container {
    background-image: none;
    opacity: 1;
}

.npc-container[revealed="false"] .player-die-img-container {
    background-image: url("img/quma.png");
}

.npc-container[revealed="true"] .player-die-img-container img {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.npc-container[revealed="false"] .player-die-img-container img {
    opacity: 0;
}

body[revealed="true"] .player-die-img-container .highlighted-dice {
    border: 2px solid red;
}

.dice-container.dead .player-die-img-container {
    background-image: none;
    opacity: 0;
}

.doubt-section {
    display: flex;
    justify-content: center;
    background-color: orange;
    border: solid 2px black;
}

button {
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.claim-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: lightblue;
    border: solid 2px black;
    padding: 10px;
}

.claim-dice {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.claim-dice img {
    width: 50px;
    height: 50px;
}

.slider-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 3em;
    font-weight: bold;
}

.slider-div label {
    width: 50px;
    text-align: center;
}

button:disabled {
    opacity: 0.5;
}

/* HIDE RADIO in claim box*/
.claim-section [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid red;
}

#result {
    font-size: 2em;
}

