<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Zhao Nan's Liar's Dice</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/connect_test.js') }}"></script>
</head>
<body>
    Hello World
    <p id="message"></p>
    <button id="startButton">Start game</button>
</body>
</html>